<p>
ID: <%= user.id %><br/>
Username: <%= user.username %><br/>
Name: <%= user.displayName %><br/>
</p>
<a href="/totp-setup">View/Setup Two-Factor Authentication</a>
<br>
<a href="/logout">Log out</a>