<p>
ID: <%= user.id %><br/>
Username: <%= user.username %><br/>
Name: <%= user.displayName %><br/>
Secret: <%= user.key %><br/>
</p>

<form action="/audit" method="post">
	<input type="submit" value="Audit"/>
</form>


<a href="/totp-setup">View/Setup Two-Factor Authentication</a>
<br>
<a href="/logout">Log out</a>
