<!DOCTYPE html>
<html>
    <head>
        <title>SSE Voting System</title>
        <!-- Style Sheets -->
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <link rel='stylesheet' href='/libraries/bootstrap/css/bootstrap.min.css'>
        <!-- Libraries -->
        <script src='/libraries/jquery.min.js'></script>
        <script src='/libraries/bootstrap/js/bootstrap.bundle.js'></script>
    </head>
    <body>
        <div class="container-fluid">
            <div id="header" class="row">
                <div class="col">
                    <img src="/images/aec-logo-homepage.png">
                </div>
                <div class="text-center m-auto">
                </div>
                <div class="col text-right m-auto">
                    <a class="btn btn-dark" href="/logout">Log out</a>
                </div>
            </div>
            <div id="content">
                <div class="">
                    <br>
                    <h3>Welcome, press the following button to generate a new unique code.</h3>
                </div>
                <form  action="/totp-setup" method="post">
                    <div class="row">
                        <div class="col">
                            <input type="submit"  name="totp" class="btn btn-purple" value="Press to Generate a New QR Code."/>
                        </div>
                    </div>
                </form>
                <br>
                <div class="col">
                    <img src="<%= qrUrl %>">
                </div>
                <br>
                <div class="">
                    <h5>Scan the above QR code using Google Authenticator, or enter the following code into Google Authenticator.</h5>
                </div>
                <div class="">
                    <%=user.key%>
                </div>
                <br>
                <a class="btn btn-purple" href="/">Go to Vote</a>
            </div>
            <div id="footer" class="footer">
            </div>
        </div>
    </body>
</html>
