<!DOCTYPE html>
<html>
	<head>
		<title>SSE Voting System</title>
		<!-- Style Sheets -->
		<link rel='stylesheet' href='/libraries/bootstrap/css/bootstrap.min.css'>
		<link rel='stylesheet' href='/stylesheets/style.css'>
		<!-- Libraries -->
		<script src='/libraries/jquery.min.js'></script>
		<script src='/libraries/bootstrap/js/bootstrap.bundle.js'></script>
	</head>
	<body style="overflow-y: hidden;">
		<div class="container-fluid">
			<div id="header" class="row mb-4">
				<div class="col">
					<img src="/images/aec-logo-homepage.png">
				</div>
				<div class="text-center m-auto">
				</div>
			</div>
			<div id="content">
				<form action=<%= "/api/account/password?id=" + id  %> method="post">
					<div>
					<label>Password:</label>
					<input type="password" name="password1"/><br/>
					</div>
					<div>
					<label>Confirm Password:</label>
					<input type="password" name="password2"/>
					</div>
					<div>
					<input type="submit" value="Submit"/>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
